# Forecasting the COVID-19 Virus Spread

## This second notebook will focus on using the data transformed from the first notebook and forecasting the spread of the Coronavirus

First of all, let's import the processed data from the first notebook. From there I would like to try out different models to see which way we can predict the spread the best possible way.

### Raw Data Sources
* Main = covid_19_data.csv
* Confirmed cases = time_series_covid_19_confirmed.csv
* Death cases = time_series_covid_19_deaths.csv
* Recovered cases = time_series_covid_19_recovered.csv

Per case report:
* Line list = COVID19_line_list_data.csv
* Open line list = COVID19_open_line_list.csv

### Changes
* 23-03-2020: Start of project

In [39]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import statsmodels
plt.style.use('seaborn')
%matplotlib inline

In [49]:
df = pd.read_csv(r'https://raw.githubusercontent.com/dylanye/Kaggle-COVID19-EIM-Functions/master/data/02_processed/covid-19_total.csv', index_col=1)

In [50]:
df = df.drop(columns=['Unnamed: 0'])

In [51]:
df.index = pd.to_datetime(df.index)

In [52]:
df.tail()

            world_cases  total_deaths  total_recovered  mortality_rate
dates
2020-03-18       214910          8733            83207        0.040636
2020-03-19       242708          9867            84854        0.040654
2020-03-20       272166         11299            87256        0.041515
2020-03-21       304524         12973            91499        0.042601
2020-03-22       335955         14632            97704        0.043553

In [54]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')